---
import { Code, Icon, LinkButton } from "@astrojs/starlight/components";
import {
    CloudUpload,
    FlaskConical,
    GitCompareArrows,
    Globe,
    Heart,
    Network,
    Rocket,
    ShieldCheck,
    Split,
} from "@lucide/astro";
import BlueGreenDark from "../assets/blue-green-deployments-dark.png";
import BlueGreenLight from "../assets/blue-green-deployments-light.png";
import CaddyLogo from "../assets/caddy-logo.svg";
import DashboardDark from "../assets/Dashboard_ZaneOps-dark.jpeg";
import DashboardLight from "../assets/Dashboard_ZaneOps-light.jpeg";
import EnvironmentListDark from "../assets/environment-list-dark.png";
import EnvironmentListLight from "../assets/environment-list-light.png";
import Logo from "../assets/Logo.svg";
import PreviewDeploymentCommentDark from "../assets/preview-deployment-dark.png";
import PreviewDeploymentCommentLight from "../assets/preview-deployment-light.png";
import SourcePickerDark from "../assets/source-picker-dark.png";
import SourcePickerLight from "../assets/source-picker-light.png";
import SwarmLogo from "../assets/swarm-logo.png";
import BrowserScreenshot from "./BrowserScreenshot.astro";
import LogSectionHome from "./LogSectionHome.astro";
---

<section
    id="hero"
    class="py-12 md:pt-24 grid grid-cols-1 md:grid-cols-3 gap-2 items-center"
>
    <div
        class="md:col-span-2 flex flex-col gap-2 items-center text-center md:text-start md:items-start"
    >
        <h1 class="text-4xl md:text-5xl lg:text-6xl whitespace-nowrap">
            Welcome to ZaneOps
        </h1>
        <p>
            ZaneOps is a beautiful and fast self-hosted platform for deploying
            and managing apps, databases, static websites and more.
        </p>
        <Code
            lang="shell"
            code={`curl -fsSL https://cdn.zaneops.dev/install.sh | sudo bash`}
            frame="none"
            class="w-full max-w-full"
        />
        <div class="flex items-center gap-4">
            <LinkButton variant="primary" href="/installation">
                Get started
                <Icon name="right-arrow" />
            </LinkButton>
            <LinkButton variant="minimal" href="/installation">
                Star us on Github
                <Icon name="github" />
            </LinkButton>
        </div>
    </div>
    <div class="order-first md:order-last flex justify-center md:justify-start">
        <Logo class="w-52 sm:w-80" />
    </div>
</section>

<section id="screenshots">
    <BrowserScreenshot
        srcLight={DashboardLight.src}
        srcDark={DashboardDark.src}
        alt="ZaneOps dashboard"
    />
</section>

<div class="flex flex-col gap-60">
    <section id="feature-highlight" class="mt-60 flex flex-col gap-2">
        <h2 class="text-pretty">
            Exceptional speed and user experience, packed with features
        </h2>
        <p>Who said a free and open source project should look ugly ?</p>

        <div
            class="grid md:grid-cols-2 [&>*]:py-6 [&>:nth-of-type(even)]:md:pl-6 [&>:nth-of-type(even)]:md:border-l [&>:nth-of-type(odd)]:md:pr-6"
        >
            <div
                class="border-border flex-col gap-3 grid grid-cols-1 grid-rows-subgrid row-span-3"
            >
                <h3 class="text-xl font-medium flex items-center gap-2">
                    <Rocket class="text-neutral-400" />
                    <span> Get started under 60 seconds </span>
                </h3>
                <small class="text-sm">
                    No code changes, extra packages, or CLI tools needed - just
                    connect your git provider account, select a repo, and click
                    deploy !
                </small>

                <div
                    class="relative aspect-16/9 bg-center bg-bg p-6 rounded-lg h-80 w-full border border-slate-400/10 shadow-xs"
                >
                    <img src={SourcePickerLight.src} class="dark:hidden" />
                    <img
                        src={SourcePickerDark.src}
                        class="hidden dark:inline"
                    />
                </div>
            </div>

            <div
                class="border-border flex-col gap-3 grid grid-cols-1 grid-rows-subgrid row-span-3"
            >
                <h3 class="text-xl font-medium flex items-center gap-2">
                    <Network class="text-neutral-400" />
                    <span> Multiple environments </span>
                </h3>
                <small class="text-sm">
                    Create multiple environments for your app, such as
                    `staging`, `production`, and `development`. Each environment
                    can have its own configuration and is isolated from each
                    other.
                </small>

                <div
                    class="relative w-full aspect-16/9 bg-center bg-contain bg-bg py-6 px-4 flex h-80 items-center justify-center rounded-lg border border-slate-400/10 shadow-xs"
                >
                    <img src={EnvironmentListLight.src} class="dark:hidden" />
                    <img
                        src={EnvironmentListDark.src}
                        class="hidden dark:inline"
                    />
                </div>
            </div>

            <div
                class="border-t border-border gap-3 grid grid-cols-1 grid-rows-subgrid row-span-3"
            >
                <h3 class="text-xl font-medium flex items-center gap-2">
                    <FlaskConical class="text-neutral-400" />
                    <span> Preview deployments </span>
                </h3>
                <small class="text-sm">
                    Create preview deployments from Gitlab and GitHub
                    repositories. Test & Preview your features before sending
                    them to production.
                </small>

                <div
                    class="relative w-full aspect-16/9 bg-center bg-contain bg-bg py-6 px-4 flex h-80 items-center justify-center rounded-lg border border-slate-400/10 shadow-xs"
                >
                    <img
                        src={PreviewDeploymentCommentLight.src}
                        class="dark:hidden"
                    />
                    <img
                        src={PreviewDeploymentCommentDark.src}
                        class="hidden dark:inline"
                    />
                </div>
            </div>

            <div
                class="border-t border-border gap-3 grid grid-cols-1 grid-rows-subgrid row-span-3"
            >
                <h3 class="text-xl font-medium flex items-center gap-2">
                    <Split class="text-neutral-400" />
                    <span> Blue/Green deployments </span>
                </h3>
                <small class="text-sm">
                    Deploying a new version doesn’t require stopping the old
                    one, ensuring uninterrupted uptime.
                </small>

                <div
                    class="relative w-full aspect-16/9 bg-center bg-contain bg-bg py-6 px-4 flex h-80 items-center justify-center rounded-lg border border-slate-400/10 shadow-xs"
                >
                    <img src={BlueGreenLight.src} class="dark:hidden" />
                    <img src={BlueGreenDark.src} class="hidden dark:inline" />
                </div>
            </div>
        </div>
    </section>

    <section
        id="workflow"
        class="grid md:grid-cols-2 lg:grid-cols-4 gap-12 place-items-start place-content-center md:mx-auto w-fit lg:w-full"
    >
        <div class="flex flex-col gap-2 w-full md:max-w-80">
            <h3 class="text-lg flex items-center gap-2">
                <CloudUpload class="text-neutral-400 flex-none" />
                <span>Push to deploy</span>
            </h3>
            <p>
                You can deploy manually, automatically on every `git push` or
                via CI/CD.
            </p>
        </div>

        <div class="flex flex-col gap-2 w-full md:max-w-80">
            <h3 class="text-lg flex items-center gap-2">
                <ShieldCheck class="text-neutral-400 flex-none" />
                <span>Free SSL certificates</span>
            </h3>
            <p>
                Every domain-custom or auto-generated gets a free SSL
                certificate no manual setup required
            </p>
        </div>

        <div class="flex flex-col gap-2 w-full md:max-w-80">
            <h3 class="text-lg flex items-start gap-2">
                <GitCompareArrows class="text-neutral-400 flex-none" />
                <span>Git-Like Config System</span>
            </h3>
            <p>Review and validate changes before deploying new versions.</p>
        </div>

        <div class="flex flex-col gap-2 w-full md:max-w-80">
            <h3 class="text-lg flex items-start gap-2">
                <Heart class="text-neutral-400 flex-none" />
                <span>Best in class UI & UX</span>
            </h3>
            <p>Sleek, intuitive and fast, built to get out of your way.</p>
        </div>
    </section>

    <LogSectionHome />

    <section id="scalability" class="flex flex-col gap-24">
        <div>
            <h2 class="text-pretty">Strength in Battle-Tested Tech</h2>
            <p>
                Powered by trusted open-source technologies, ZaneOps lets you
                focus on building and shipping, while we handle the complexity.
            </p>
        </div>

        <div class="grid md:grid-cols-2 gap-16 md:gap-8 place-items-start">
            <div class="flex flex-col gap-4 items-start h-full">
                <div class="flex flex-col gap-1">
                    <h3 class="text-lg flex items-center gap-2">
                        <Network class="text-neutral-400" />
                        Docker swarm
                    </h3>
                    <p>
                        Powers ZaneOps behind the scenes, orchestrating your
                        services, handling scaling, and keeping deployments
                        reliable without manual intervention.
                    </p>
                </div>
                <div class="h-full flex items-center w-full">
                    <img src={SwarmLogo.src} class="w-80 max-w-full" />
                </div>
            </div>
            <div class="flex flex-col gap-6 items-start h-full">
                <div class="flex flex-col gap-1">
                    <h3 class="text-lg flex items-center gap-2">
                        <Globe class="text-neutral-400" />
                        Caddy
                    </h3>
                    <p>
                        Manages all external traffic in ZaneOps, providing
                        automatic HTTPS, acting as a reverse proxy, and ensuring
                        your services and applications are securely and
                        seamlessly accessible.
                    </p>
                </div>
                <div class="h-full flex items-center w-full">
                    <img src={CaddyLogo.src} class="w-80 max-w-full" />
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="">
        <h2 class="text-pretty">Developpers love ZaneOps ❤️</h2>
        <p>Hear what real teams say about shipping faster with ZaneOps.</p>
    </section>
</div>

<style is:global>
    .sl-container {
        margin-inline: auto;
    }
    .hero {
        display: none;
    }
    .sl-markdown-content {
        margin-top: 0;
    }
    .sl-markdown-content
        section
        :not(a, strong, em, del, span, input, code, br)
        + :not(
            a,
            strong,
            em,
            del,
            span,
            input,
            code,
            br,
            :where(.not-content *)
        ) {
        margin-top: 0;
    }
</style>
